server:
  port: 8088

spring:
  application:
    name: USER-PRIVILEGES
  datasource:
    url: jdbc:mysql://localhost:3306/user_privileges_db?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

application:
  security:
    jwt:
      secret-key: bXlTdXBlclNlY3JldEtleUZvckp3dFNpZ25pbmdQdXJwb3Nlc0J1YmJsZUJyZWF0aA==

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_USERNAME:eureka}:${EUREKA_PASSWORD:eureka123}@${EUREKA_HOST:localhost}:8761/eureka/
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    ip-address: ${INSTANCE_IP:localhost}
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
