spring:
  application:
    name: reward_service

  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:mysql://localhost:3306/reward_service?createDatabaseIfNotExist=true&useUnicode=yes&characterEncoding=UTF-8
    username: kumuditha
    password: kumuditha1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8003
  servlet:
    context-path: /api

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
