# Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/game_service?createDatabaseIfNotExist=true&useUnicode=yes&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=kumuditha
SPRING_DATASOURCE_PASSWORD=kumuditha1234

# Server Configuration
SERVER_PORT=8003

# JWT Security
APPLICATION_SECURITY_JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# JPA/Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Logging
LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG

